
:root{
	--bg-saiias: #ffffff;
	--font-color: #000000;
	--bord-btn-std: 50px;
	--color-btn: #274E98;
	--color-btn-not: #A4A4E9;
	--bg-saiias-low: #ffffff;
	--menu-up-color: #444;
	--saiias-font-family: "rounded";
	--saiias-subfont: "kind";
}